<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>10050</key>
    <string>调用视频控件</string>
    <key>10051</key>
    <string>调用相册</string>
	<key>20000</key>
	<string>微信认证</string>
	<key>20001</key>
	<string>打开微信</string>
    <key>20002</key>
    <string>调用shareSDK分享</string>
	<key>20003</key>
	<string>获取功能号列表</string>
</dict>
</plist>
